<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/index.css">
    <title>首页</title>
</head>
<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }
</style>
<body>
<div id="app" style="height: auto">
    <el-container style="height: 700px; border: 1px solid #eee">
        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <el-date-picker
                            style="margin-right: 15px"
                            v-model="start"
                            type="date"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            placeholder="选择开始日期">
                    </el-date-picker>
                    <span style="margin-right: 15px">-</span>
                    <el-date-picker
                            style="margin-right: 15px"
                            v-model="end"
                            type="date"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            placeholder="选择结束日期">
                    </el-date-picker>
                    <el-input style="width: 200px;margin-right: 15px" v-model="cityName"
                              placeholder="请输入城市名"></el-input>
                    <el-button @click="search(cityName,start,end)" type="text" size="small"
                               style="margin-right: 15px">查询
                    </el-button>
                    <el-button @click="dialogVisible = true" type="text" size="small" style="margin-right: 15px">新增
                    </el-button>
                </el-dropdown>
                <span style="margin-right: 15px">杨心雨</span>
                <el-button @click="login()" type="text" size="small" >退出
                </el-button>
            </el-header>

            <el-main>
                <el-table
                        :data="tableData"
                        border
                        style="width: 800px">
                    <el-table-column
                            prop="airId"
                            v-if="show">
                    </el-table-column>
                    <el-table-column
                            prop="createdAt"
                            label="日期"
                            width="300">
                    </el-table-column>
                    <el-table-column
                            prop="cityName"
                            label="城市"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="pm"
                            label="pm2.5"
                            width="300">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="操作"
                            width="100">
                        <template slot-scope="scope">
                            <el-button @click="deleteAir(scope.row.airId)" type="text" size="small">删除</el-button>
                            <el-button @click="editSearch(scope.row.airId)" type="text" size="small">编辑</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </el-container>

    <el-dialog
            title="新增"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="城市名称">
                <el-input v-model="form.city"></el-input>
            </el-form-item>
            <el-form-item label="pm2.5值">
                <el-input v-model="form.pm"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog
            title="编辑"
            :visible.sync="dialogVisible1"
            width="30%"
            :before-close="handleClose1">
        <el-form ref="editForm" :model="editForm" label-width="80px">
            <el-form-item>
                <el-input v-model="editForm.airId"
                v-if="editShow"></el-input>
            </el-form-item>
            <el-form-item label="城市名称">
                <el-input v-model="editForm.city"></el-input>
            </el-form-item>
            <el-form-item label="pm2.5值">
                <el-input v-model="editForm.pm"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="editSubmit">确认</el-button>
                <el-button @click="dialogVisible1 = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>


</div>
</body>
<script src="../js/vue.js"></script>
<script src="../js/vue-router.js"></script>
<script src="../js/index.js"></script>
<script src="../js/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                cityName: '',
                start: '',
                end: '',
                show: false,
                dialogVisible: false,
                dialogVisible1: false,
                editShow:false,
                form: {
                    pm:'',
                    city:''
                },
                editForm: {
                    airId:'',
                    pm:'',
                    city:''
                }
            }
        },
        created: function () {
            const that = this;
            that.search('济南', '', '')
        },
        methods: {
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },
            handleClose1(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },
            search: function (cityName, start, end) {
                const that = this;
                that.cityName = cityName;
                that.start = start;
                that.end = end;

                let url = 'http://127.0.0.1:8001/api/air/list?version=1';

                if (cityName !== '' && cityName !== null) {
                    url += '&cityName=' + cityName;
                }

                if (start !== '' && start !== null) {
                    url += '&start=' + start;
                }

                if (end !== '' && start !== null) {
                    url += '&end=' + end;
                }
                axios.get(url)
                    .then(function (response) {
                        if (response.data.code === 0) {
                            console.log(response);
                            that.tableData = response.data.data;
                        }
                    })
                    .catch(function (error) {
                        that.$message.error(error);
                    });
            },
            deleteAir: function (airId) {
                this.$confirm('确定要删除吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    const that = this;
                    axios.post('http://127.0.0.1:8001/api/air/delete', {
                        airId: airId
                    })
                        .then(function (response) {
                            if (response.data.code === 0) {
                                console.log(response);
                                that.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                that.search(that.cityName, that.start, that.end);
                            }
                        })
                        .catch(function (error) {
                            that.$message.error(error);
                        });

                })
            },
            editSearch: function (airId) {
                const that = this;
                axios.get('http://127.0.0.1:8001/api/air/search?airId='+airId)
                    .then(function (response) {
                        if (response.data.code === 0) {
                            console.log(response);
                            that.editForm.city = response.data.data.cityName;
                            that.editForm.pm = response.data.data.pm;
                            that.editForm.airId = response.data.data.airId;
                            that.dialogVisible1 = true
                        }
                    })
                    .catch(function (error) {
                        that.$message.error(error);
                    });
            },
            onSubmit: function () {
                const that = this;
                axios.post('http://127.0.0.1:8001/api/air/add', {
                    cityName: that.form.city,
                    pm: that.form.pm
                })
                    .then(function (response) {
                        if (response.data.code === 0) {
                            console.log(response);
                            that.$message({
                                message: '添加成功',
                                type: 'success'
                            });
                            that.dialogVisible = false;
                            that.search(that.cityName, that.start, that.end);
                        }
                    })
                    .catch(function (error) {
                        that.$message.error(error);
                    });

            },
            editSubmit: function () {
                const that = this;
                axios.post('http://127.0.0.1:8001/api/air/edit', {
                    airId: that.editForm.airId,
                    cityName: that.editForm.city,
                    pm: that.editForm.pm
                })
                    .then(function (response) {
                        if (response.data.code === 0) {
                            console.log(response);
                            that.$message({
                                message: '修改成功',
                                type: 'success'
                            });
                            that.dialogVisible1 = false;
                            that.search(that.cityName, that.start, that.end);
                        }
                    })
                    .catch(function (error) {
                        that.$message.error(error);
                    });
            },
            login:function () {
                window.location.href = "../pages/login.html";
            }
        }
    });
</script>
</html>